<header class="header container">
  <nav class="header__nav">
    <ul class="header__links">
      <il class="header__link header__link--current">
        <a href="/index.html">Home</a>
      </il>
      <il class="header__link">
        <a href="/pages/my-blog/index.html">My blog</a>
      </il>
      <il class="header__link sign-in--js">
        <a href="#">Sign in</a>
      </il>
      <il class="header__link register--js">
        <a href="#">Register</a>
      </il>
    </ul>
  </nav>
</header>
