.card { 
  width: 100%;
  padding-top: 90px;
  margin-top: 40px;
  flex: 0 0 20%;
  text-align: center;


  background-repeat: no-repeat;
  background-position: center top 0;

  &__name {
    display: block;
    margin-top: 20px;
    margin-bottom: 24px;
    text-align: center;
    @include typography ($main-font, normal, bold, 14px, 17px);
    color: $gray;
  }

  &__percentage {
    display: inline-block;
    @include typography ($main-font, normal, bold, 14px, 17px);
    color: $gray;
  }

  &__progress-bar {
    display: inline-block;
    width: 100%;
    max-width: 142px;
    background-color: $mercury;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  }
  
  &__progress-bar-fill {
    display: block;
    height: 9px;
    background-color: $black;
    transition: width 500ms ease-in-out;
  }
}