<div class="slider">
  <div class="slider__wrapper">
    <div class="slider__inner-wrapper">
      <div class="slider__slide">dasdad</div>
      <div class="slider__slide">asdasda</div>
      <div class="slider__slide">asdasda</div>
      <div class="slider__slide">asdasda</div>
      <div class="slider__slide">dasdad</div>
      <div class="slider__slide">asdasda</div>
      <div class="slider__slide">asdasda</div>
      <div class="slider__slide">asdasda</div>
    </div>
  </div>
  <div class="slider__image" style="background-image: url(/static/images/lady-main.jpg);"></div>
  <div class="slider__nav">
    @@include('arrow/index.html', {
      'class': 'arrow slider__arrow arrow--left'
    })
    <div>
      <div class="slider__buttons"></div>
    </div>
    @@include('arrow/index.html', {
      'class': 'arrow slider__arrow arrow--right'
    })
  </div>
</div>